<html lang="en">
  <head></head>
   <a href="/register">
      I'm not registered!
      </a>
  <body style="font-size:20px; padding:50px;">
    <form action="/login" method="POST" style="margin:150px;">
      <label for="username">Enter your username:</label>
      <input id="username" type="text" name="username" placeholder="" style="width: 300px">
      <label for="password">Enter your password:</label>
      <input id="password" type="text" name="password" placeholder="" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>