<html lang="en">
  <head></head>
  <a href="/login">
      I'm already registered!
      </a>
  <body style="font-size:20px; padding:50px;">
    <form action="/register" method="POST" style="margin:150px;">
      <label for="username">Enter a new username:</label>
      <input id="username" type="text" name="username" placeholder="" style="width: 300px">
      <label for="password">Enter a new password:</label>
      <input id="password" type="text" name="password" placeholder="" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>